@{
    ViewData["Title"] = "Home Page";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a style="font-size:25px" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Talim</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
            <a class="sign-in-custom" asp-area="" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </div>
    </nav>
</header>
<div class="about-us-dv">
    <h1 class="about-us">О нас</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum suscipit magna enim, sit amet tincidunt massa convallis eu.
        Nam rutrum pharetra nulla, eu ornare diam vulputate vitae.
        Phasellus gravida nibh ut eleifend rutrum. In pretium urna sed
        arcu hendrerit, non posuere sem tempor. Sed aliquam enim enim,
        in pulvinar ante ultricies id. Nam posuere vehicula tincidunt.
        In sagittis nec risus a dapibus. Aenean ac mauris nibh. Maecenas
        porta malesuada turpis vel ornare. Praesent blandit fermentum leo
        , at condimentum nibh tempor vel. In felis nisl,
        laoreet in elementum vehicula, elementum ac mi. Vestibulum
        mattis placerat condimentum. Pellentesque a egestas lorem.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Nullam tincidunt, ex sit amet maximus blandit,
        sapien purus rhoncus erat, et faucibus dolor ex et ex.
    </p>
</div>

<div class="welcome-page">
    <a href="/teacher/SignUp">
    <button class="custom-button">Я учитель</button>
    </a>
    <a href="/student/SignUp">
    <button class="custom-button">Я ученик</button>
    </a>
</div>