@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a style="font-size:25px" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Talim</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
            </div>
            <a class="sign-in-custom" asp-area="" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </div>
    </nav>
</header>
<div class="signup-form">
  <form>
    <label for="username">Имя:</label>
    <input type="text" id="firstName" name="firstName" required>
    <br>
    <label for="username">Фамилия:</label>
    <input type="text" id="lastName" name="lastName" required>
    <br>
    <label for="username">Логин:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="subject">Какие предметы можете преподовать?</label>
    <input type="text" id="subject" name="subject" required>
    <br>
    <label for="address">Адресс:</label>
    <textarea id="address" name="address" required></textarea>
    <br>
    <input type="submit" value="Sign Up" asp-action="Index">
  </form>
</div>

